{% extends 'base.html' %}
{% load static %}
{% block content %}
    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#add_hashtag">
        Adicionar Hashtag
    </button>
    {% if messages %}
        <div class="alert alert-danger">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </div>
    {% endif %}
    <ul class="list-group">

        {% for hashtag in data %}
            <li class="list-group-item">
                <a  href="{% url 'delete_hashtag' pk=hashtag.pk%}">
                    <i class="far fa-trash-alt"></i></a>  {{hashtag.hashtag}}
            </li>
        {% endfor %}

    </ul>
    {%include 'create_hashtag.html'%}

{% endblock %}